<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog | Md. Arifin Ibne Matin - Full Stack Web Application Developer</title>

  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.title }}" />


  <meta property="og:site_name" content="Md. Arifin Ibne Matin's Blog" />
  <meta property="og:title" content="Md. Arifin Ibne Matin - Full Stack Web Application Developer" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.baseurl}}/main/images/arifin.png" />
  <meta property="og:type" content="blog" />



  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/custom.css" />
  <!-- JS Scripts -->
  <script type="text/javascript" src="{{ site.baseurl }}/main/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/main/js/bootstrap.min.js"></script>
  {% include google_analytics.html %}
  {% include mixpanel.html %}
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <nav id="main_nav" class="navbar navbar-primary navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand pointer" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/main/images/arifin.png" class="img-thumbnail img-circle" alt="Md. Arifin Ibne Matin" style="height: 2em;">
        </a>
      </div>
      <!-- <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a class="pointer" href="{{ site.baseurl }}/blogs/">Blog Root</a></li>
        </ul>
      </div> -->
    </div>
  </nav>


  <div id="main_div" class="container">
    <div id="blog_list" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-0">
      {% for post in site.posts %} {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %} {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %} {% if forloop.first %}
      <h2 class="year">{{this_year}}</h2>
      <div class="recent-posts">
        {% endif %}
          <div class="post_in_list row">
            <a class="pointer" href="{{ post.url }}"><div class="col-xs-10 title">{{ post.title }}</div></a>
            <a class="pointer" href="{{ post.url }}"><aside class="date">{{ post.date | date: "%b %e" }}</aside></a>
          </div>
        {% if forloop.last %}
      </div>
      {% else %} {% if this_year != next_year %}
    </div>
    <h2 class="year">{{next_year}}</h2>
    <div class="recent-posts">
      {% endif %} {% endif %} {% endfor %}

    </div>


  </div>
  <!-- End container -->
  {% include footer.html %}

  <script type="text/javascript">
    $(document).ready(function() {
      var w = $(window).height();
      var f = document.getElementById('footer').offsetHeight + parseInt($("#footer").css("margin-top")) + parseInt($("#footer").css("margin-bottom"));
      var n = document.getElementById('main_nav').offsetHeight + parseInt($("#main_nav").css("margin-top")) + parseInt($("#main_nav").css("margin-bottom"));

      $("#main_div").css("min-height", function() {
        return w - (f + n);
      });
    });

    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').delay(450).fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(500).fadeOut(); // will fade out the white DIV that covers the website.
      $('body').delay(500).css({
        'overflow': 'visible'
      });
    });

    // Send Mixpanel
    if(!(window.location.href.indexOf("localhost") > -1)){
      mixpanel.track("page_view", {
        'item': 'Blog Landing'
      });
    }

  </script>

</body>

</html>
