<!DOCTYPE html>
<html lang="en">

<head>
  <title>Talks | Md. Arifin Ibne Matin - Full Stack Web Application Developer</title>

  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.title }}" />


  <meta property="og:site_name" content="Md. Arifin Ibne Matin's Blog" />
  <meta property="og:title" content="Md. Arifin Ibne Matin - Full Stack Web Application Developer" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.baseurl}}/assets/images/arifin.png" />
  <meta property="og:type" content="blog" />



  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/custom.css" />
  <!-- JS Scripts -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  {% include google_analytics.html %} {% include mixpanel.html %}
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <nav id="main_nav" class="navbar navbar-primary navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand pointer" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/arifin.png" class="img-thumbnail img-circle" alt="Md. Arifin Ibne Matin" style="height: 2em;">
        </a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li  onclick="openNav()"><a class="pointer" onclick="openNav()">Suggest topics</a></li> -->
        </ul>
      </div>
    </div>
  </nav>


  <div id="main_div" class="container">
    <div class="row">
      <div class="term_description text-center col-xs-10 col-xs-offset-1 {{page.lang}}">
        <h1>Talks</h1>
        <div class="term_content">All my talks and tutorials will be listed here.</div>
      </div>
    </div>


  </div>
  <!-- End container -->
  {% include footer.html %}

  <script type="text/javascript">
    $(document).ready(function() {
      var w = $(window).height();
      var f = document.getElementById('footer').offsetHeight + parseInt($("#footer").css("margin-top")) + parseInt($("#footer").css("margin-bottom"));
      var n = document.getElementById('main_nav').offsetHeight + parseInt($("#main_nav").css("margin-top")) + parseInt($("#main_nav").css("margin-bottom"));

      $("#main_div").css("min-height", function() {
        return w - (f + n);
      });
    });

    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').delay(450).fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(500).fadeOut(); // will fade out the white DIV that covers the website.
      $('body').delay(500).css({
        'overflow': 'visible'
      });
    });

    // Send Mixpanel
    if (!(window.location.href.indexOf("localhost") > -1)) {
      mixpanel.track("page_view", {
        'item': 'Talks Landing'
      });
    }
  </script>

</body>

</html>
